{% extends 'core/base.html' %}

{% block title %}Album access{% endblock title %}

{% load thumbnail %}

{% block body %}

<div class="bg-base-100">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <div class="prose">
      <h1 class="sr-only">Album settings</h1>
      <h1>Album settings</h1>
    </div>

    <section>
      <form  method="POST">
        {% csrf_token %}
        <div class="mt-4 block space-y-4 w-full max-w-lg rounded-lg bg-base-200 p-6 shadow-lg lg:p-12">
          <div class="flex gap-4 prose">
            <h2 class="mb-4">Edit your album infos</h2>
            <svg viewBox="0 0 24 24" class="fill-transparent stroke-current stroke-2 h-8 w-8"  xmlns="http://www.w3.org/2000/svg">
              <path d="M3 7C3 4.79086 4.79086 3 7 3H17C19.2091 3 21 4.79086 21 7V17C21 19.2091 19.2091 21 17 21H7C4.79086 21 3 19.2091 3 17V7Z"></path>
              <path d="M16.2739 11.1377C16.6644 10.7472 16.6644 10.114 16.2739 9.7235L14.4823 7.9319C14.0918 7.54137 13.4586 7.54138 13.0681 7.9319L8.96106 12.0389L8.34768 15.7477C8.3365 15.8154 8.39516 15.874 8.4628 15.8627L12.1669 15.2448L16.2739 11.1377Z"></path></svg>
          </div>
          {% for field in album_form %}
            <div class="block ">
              <label class="block text-sm font-medium mb-1" for="id_{{field.label}}">{{field.label|capfirst}}</label>
              {{field}}
            </div>
          {% endfor %}
            <input type="submit" name="album_form" class="block btn btn-primary text-white" value="Save changes">
        </div>
      </form>

    </section>

    <section class="my-8 max-w-lg" >
      <a name="access_control"></a>
      <div class="flex gap-4 prose">
        <h2>Control who can access your album</h2>
        <svg class="w-8 h-8 stroke-current stroke-2 fill-none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
        </svg>
      </div>
      <div class="prose">
        <h3 class="mb-4">Has access to your album :</h3>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="overflow-x-auto rounded-lg">
          <table class="table">

            <thead>
              <tr class="bg-green-300/30 text-green-700 dark:bg-green-50/75">
                <th></th>
                <th>Name</th>
                <th>Relation</th>
              </tr>
            </thead>
            <tbody>
              {% for relation, relation_type in relations_dict.items %}
              {% if relation in users_with_access %}
              <tr class="bg-green-50/75 dark:bg-green-400/30">
                <th>
                  <label>
                    <input type="checkbox" class="toggle toggle-error" name="users_to_revoke_access" value="{{ relation.pk }}" id="id_users_to_revoke_access_{{ forloop.counter }}" />
                  </label>
                </th>
                <td>
                  <a href="{% url 'accounts:account_view' relation.pk %}" class="cursor-pointer">
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          <!-- <img src="{{relation.profile_picture.url}}" alt="user profile pic" /> -->
                          {% thumbnail relation.profile_picture "50x50" crop="center" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{% firstof relation.first_name user.email %}'s profile pic" class="h-full w-full object-cover object-center group-hover:opacity-75">
                          {% endthumbnail %}
                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{{relation.first_name}} {{relation.last_name}}</div>
                        <div class="text-sm opacity-50">{{relation.email|truncatechars:12}}</div>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <span class="badge badge-ghost badge-sm">{{relation_type}}</span>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <button class="btn btn-outline btn-error mt-6" type="submit" name="revoke_access_form">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
          </svg>
          Revoke access
        </button>
      </form>
    </section>

    {% if relations|length != users_with_access|length %}
    <section class="my-8 max-w-lg">
      <div class="prose">
        <h3 class="mb-4">Grant Access to :</h3>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="overflow-x-auto rounded-lg">
          <table class="table">
            <thead>
              <tr class="bg-red-300/30 text-red-700 dark:bg-red-50/75">
                <th></th>
                <th>Name</th>
                <th>Relation</th>
              </tr>
            </thead>
            <tbody>
              {% for relation, relation_type in relations_dict.items %}
              {% if relation not in users_with_access %}
              <tr class="bg-red-50/75 dark:bg-red-400/30">
                <th>
                  <label>
                    <input type="checkbox" class="toggle toggle-success" name="users_to_grant_access" value="{{ relation.pk }}" id="id_users_to_grant_access_{{ forloop.counter }}" />
                  </label>
                </th>
                <td>
                  <a href="{% url 'accounts:account_view' relation.pk %}" class="cursor-pointer">
                    <div class="flex items-center space-x-3">
                      <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                          {% thumbnail relation.profile_picture "50x50" crop="center" as im %}
                          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{% firstof relation.first_name user.email %}'s profile pic" class="h-full w-full object-cover object-center group-hover:opacity-75">
                          {% endthumbnail %}                        </div>
                      </div>
                      <div>
                        <div class="font-bold">{{relation.first_name}} {{relation.last_name}}</div>
                        <div class="text-sm opacity-50">{{relation.email|truncatechars:12}}</div>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <span class="badge badge-ghost badge-sm">{{relation_type}}</span>
                </td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <button class="mt-6 btn btn-outline btn-success" type="submit" name="add_access_form" value="Apply changes">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
          </svg>
          Apply changes
        </button>
      </form>
    </section>
    {% endif %}

    <hr>
    <div class="mt-10 flex gap-4">
      <a href="{% url 'albums:album_detail' album.pk %}" class="btn btn-neutral">
        <svg class="w-6 h-6 stroke-2 fill-current" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
          <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
          <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
        </svg>
        Back
      </a>
      <a href="{% url 'albums:album_delete' album.pk %}" class="btn btn-outline btn-error">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-5 w-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
        </svg>
        Delete album
      </a>
    </div>
  </div>
</div>

{% endblock body %}
