{% extends 'partials/breadcrumb_home.html' %}

{% block crumb %}
<li>
  <div class="flex items-center">
    <!-- Heroicon name: mini/chevron-right -->
    <svg class="h-5 w-5 flex-shrink-0 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <div class="ml-2 lg:ml-4 flex items-center gap-2 group">
      <svg class="w-5 h-5 fill-gray-500 group-hover:fill-gray-700 flex-shrink-0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M20 2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.806 5 19s.55-.988 1.012-1H21V3a1 1 0 0 0-1-1zM9.503 5a1.503 1.503 0 1 1 0 3.006 1.503 1.503 0 0 1 0-3.006zM12 13H7l3-3 1.5 1.399L14.5 8l3.5 5h-6z"></path></g></svg>
      <a href="{% url 'albums:album_detail' album.id %}" class=" text-sm font-medium text-gray-500 group-hover:text-gray-700 line-clamp-1">{{album.title|title|truncatechars:25}}</a>
    </div>
  </div>
</li>

{% block subcrumb %}
{% endblock subcrumb %}

{% endblock crumb %}
