{% extends 'core/base.html' %}

{% block title %}Your Album{% endblock title %}

{% block body %}
<div class="bg-base-100">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
    <div class="prose">
      <h1 class="sr-only">Create a new album</h1>
      <h1>Create a new album</h1>

      <div class="rounded-lg bg-base-200 p-8 shadow-lg lg:p-12">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="grid grid-cols-1 gap-4 w-full max-w-xs">
            {% for field in form %}
            <div>
              <label class="text-sm font-medium" for="id_{{field.label}}">{{field.label|capfirst}}</label>
              {{field}}
            </div>
            {% endfor %}
          </div>

          <div class="mt-4">
              <label for="images" class="text-xl font-bold tracking-tight">Upload photos:</label>
              <input type="file" name="images" multiple class="mt-4 block file-input file-input-bordered file-input-primary w-full max-w-xs">
              <div class="flex gap-4 mt-8">
                <button type="submit" class="inline-block btn btn-primary">Save</button>
                <a href="{% url 'albums:albums_view' %}" class="btn btn-default">Back</a>
              </div>
          </div>
        </form>
      </div>


  </div>

{% endblock body %}
