{% extends 'core/base.html' %}
{% load static %}
{% load static_image %}
{% load thumbnail %}
{% load i18n %}

{% block title %}Edit account{% endblock %}

{% block body %}

<section class="bg-base-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
      <div class="lg:col-span-2 lg:py-6">
        <div class="flex flex-wrap max-lg:place-content-center px-6 gap-10">
          <!-- PROFILE PIC-->
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

          <div class="grid grid-cols-1 gap-4 sm:max-lg:grid-cols-2">

            <div class="flex place-content-center">
              {% if user.profile_picture %}
                <img id="profile_pic" src="{{user.profile_picture.url}}" alt="{{user.profile_picture.name}}" class="h-40 sm:h-48 rounded-lg" style="transition: opacity 0.3s ease;">
              {% else %}
                <img id="profile_pic" src="https://api.dicebear.com/6.x/initials/svg?seed={% firstof user.get_full_name user.email %}" alt="profile pic" class="rounded-full h-40 sm:h-48 object-cover object-center group-hover:opacity-75" style="transition: opacity 0.3s ease;">
              {% endif %}
            </div>
            <div>
              {{form.profile_picture}}
            </div>
          </div>

        </div>
      </div>

      <!-- FORM UPDATE -->
      <div class="space-y-4 rounded-lg bg-base-200 p-8 shadow-lg lg:col-span-3 lg:px-12 lg:pt-12 lg:pb-8">


          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="first_name">{% trans "First Name" %}</label>
              {{form.first_name}}
            </div>
            <div>
              <label class="sr-only" for="last_name">{% trans "Last Name" %}</label>
              {{form.last_name}}
            </div>
          </div>

          <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div>
              <label class="sr-only" for="email">Email</label>
              {{form.email}}
            </div>

            <div>
              <label class="sr-only" for="birthday">{% trans "Date of Birth" %}</label>
              {{form.date_of_birth}}
            </div>
          </div>

          <div class=" grid grid-cols-1 gap-3 text-center">
            <div class="ml-2 mt-4 form-control">
              <label class="flex gap-4 cursor-pointer">
                <svg class="w-6 h-6 flex-none" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                </svg>
                <span class="label-text font-semibold">{% trans "hide connections on your profile" %}</span>
                {{form.hide_connections}}
              </label>
            </div>
          </div>

          {% comment %} <div>
            <label class="sr-only" for="bio">Bio</label>
            {{form.bio}}
          </div> {% endcomment %}



        {{form.errors}}
        <div class="pt-10 lg:pt-28 grid grid-cols-1 sm:grid-cols-2 ml-2 gap-4">
            <a href="{% url 'accounts:account_view' account.pk  %}" class="btn btn-neutral sm:col-span-1">
              <svg class="w-6 h-6 stroke-2 fill-current" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
                <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
              </svg>
              {% trans "Back" %}
            </a>
            <button
              type="submit"
              class="inline-block btn btn-accent btn-block px-5 py-3 font-medium text-white sm:w-auto sm:col-span-1"
            >
              {% trans "Save changes" %}
            </button>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>

{% block javascript %}
  <script src="{% static 'accounts/js/clear_profile_pic.js' %}"></script>
{% endblock %}

{% endblock %}
