<!-- change_password.html -->
{% extends 'core/base.html' %}
{% load i18n %}

{% block title %}Change Password{% endblock title %}
{% block body %}
<div class="bg-base-100">
  <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="rounded-lg bg-base-200 p-8 shadow-lg">
      <h2 class="text-xl pb-6 font-semibold">{% trans "Change Password" %}</h2>
      <form method="post">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 form-control gap-6">
          {{ form.old_password }}
          {{ form.new_password1 }}
          {{ form.new_password2 }}
          <a class="btn btn-neutral pr-8" href="{% url 'accounts:edit_account' user.pk %}">
            <svg class="w-6 h-6 stroke-2 fill-current" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg">
              <path d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
              <path d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path>
            </svg>
            {% trans "Cancel" %}
          </a>
          <button class="btn btn-outline" type="submit">{% trans "Update" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
