{% extends 'core/base.html' %}

{% block title %}Notifications{% endblock title %}

{% block body %}
<div class="bg-base-100">
  <div class="mx-auto max-w-2xl px-6 py-16 sm:px-6 sm:py-24  lg:px-8">
    <h1 class="text-3xl font-semibold">Notification Panel</h1>

    <div class="flex-1 mt-5 sm:px-5">
      <div class="sm:px-5">
        {% if messages %}
        {% for message in messages %}
          <div class="my-6 alert alert-success mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            <span>{{message}}</span>
          </div>
        {% endfor %}
        {% endif %}
        <p class="font-bold text-lg px-6 py-4">{{all_notifications.count}} notification{{all_notifications.count|pluralize}}:</p>

        {% for notification in all_notifications %}
          <div class="grid grid-cols-1 place-content-center">
              <form method="POST">
                  {% csrf_token %}
                  <div class="grid w-full rounded-lg bg-base-100 p-6 shadow-lg border" data-aos="fade-up">
                    {% if notification.content_type.model == 'albumaccess' %}
                        {% include 'partials/album_access_notification.html' %}
                    {% elif notification.content_type.model == 'relationrequest' %}
                        {% include 'partials/relation_request_notification.html' %}
                    {% elif notification.content_type.model == 'comment' %}
                        {% include 'partials/new_comment_notification.html' %}
                    {% endif %}
                  </div>
              </form>
          </div>
        {% endfor %}

                        {% comment %}<!-- <br>
                        {{notification.content_object.album.photos_album.first.image}} -->{% endcomment %}


        <!-- Seen notifications -->
        <br><br>
        {% for notification in seen_notifications %}
          <div class="grid grid-cols-1 place-content-center opacity-50">
            <form method="POST">
              {% csrf_token %}
              <div class="grid w-full rounded-lg bg-base-100 p-6 shadow-lg border" data-aos="fade-up">
                <p class="mb-1 text-base">
                  {{notification.message}}
                </p>
                <p class="mb-4 text-base">
                  <small class="">{{notification.created_at|timesince}} ago</small>
                </p>
                <div class="inline-flex gap-4">

                  <button type="submit" class="btn btn-error max-sm:btn-block" name="delete_notif" value="{{notification.id}}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                    Delete
                  </button>
                </div>
              </div>
            </form>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>



{% endblock body %}
