{% load static %}
{% load thumbnail %}
<!DOCTYPE html >
<html lang="en" >
<head>
  <link rel="stylesheet" href="{% static 'css/output.css' %}">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Register | æternam  </title>
</head>


<section class="bg-base-100">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <section
      class="relative flex h-40 items-end bg-base-100 lg:col-span-5 lg:h-full xl:col-span-6"
    >
      <img
        alt="Cover Photo"
        src="https://images.unsplash.com/photo-1531845116688-48819b3b68d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"

        class="absolute inset-0 h-full w-full object-cover opacity-80"
      />

      <div class="hidden text-white lg:relative lg:block lg:p-12">
        <a class="block text-6xl" href="/">
          <span class="sr-only">Home</span>
          æ
        </a>

        <h2 class="mt-6 text-2xl font-bold sm:text-3xl md:text-4xl">
          Welcome to Æternam
        </h2>

        <p class="mt-4 leading-relaxed font-semibold">
          This website is designed for families, where you can comment on and share your memories of albums that have been put away for too long, and which deserve to spread smiles and happiness
        </p>
      </div>
    </section>

    <main
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        <div class="relative block lg:hidden">
          <h1
            class="mt-2 text-2xl font-bold sm:text-3xl md:text-4xl"
          >
            Welcome to Æternam
          </h1>

          <p class="mt-4 leading-relaxed text-gray-500">
            This website is designed for families, where you can comment on and share your memories of albums that have been put away for too long, and which deserve to spread smiles and happiness
          </p>
        </div>

        <form class="mt-8 grid grid-cols-6 gap-6" method="POST">
          {% csrf_token %}
          <div class="col-span-6 sm:col-span-3">
            <label
              for="FirstName"
              class="block text-sm font-medium"
            >
              First Name
            </label>

            {{form.first_name}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium "
            >
              Last Name
            </label>

            {{form.last_name}}
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium ">
              Email
            </label>

            {{form.email}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="Password"
              class="block text-sm font-medium "
            >
              Password
            </label>

            {{form.password1}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="PasswordConfirmation"
              class="block text-sm font-medium "
            >
              Password Confirmation
            </label>

            {{form.password2}}
          </div>


          <div class="col-span-6">
            <p class="text-sm">
              By creating an account, you agree to our
              <a href="#" class=" underline">
                terms and conditions
              </a>
              and
              <a href="#" class=" underline">privacy policy</a>.
            </p>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              class="btn btn-primary"
              type="submit"
            >
              Create an account
            </button>

            <p class="mt-4 text-sm  sm:mt-0">
              Already have an account?
              <a href="{% url 'accounts:login' %}" class=" underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>
