{% extends 'core/base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block title %}Register{% endblock title %}

{% block body %}
<section class="bg-base-100">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12 -mt-8 sm:-mt-10">
    <section
      class="relative flex h-48 items-end bg-base-100 lg:col-span-5 lg:h-full xl:col-span-6"
    >
      <img
        alt="Cover Photo"
        src="https://images.unsplash.com/photo-1531845116688-48819b3b68d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80"

        class="absolute inset-0 h-full w-full object-cover opacity-80"
      />

      <div class="hidden text-white lg:relative lg:block lg:p-12">
        <a class="block text-6xl" href="/">
          <span class="sr-only">Home</span>
          æ
        </a>

        <h2 class="mt-6 text-2xl font-bold sm:text-3xl md:text-4xl">
          {% trans "Welcome to Æternam" %}
        </h2>

        <p class="mt-8 leading-relaxed font-semibold text-justify">
          {% trans "This website has been designed for families as a place to share and exchange your memories and forgotten photos. Involve your family and friends to collectively restore color and presence to your shared memories" %}
        </p>
      </div>
    </section>

    <main
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        <div class="relative block lg:hidden">
          <h1
            class="mt-2 text-2xl font-bold sm:text-3xl md:text-4xl"
          >
            {% trans "Welcome to Æternam" %}
          </h1>

          <p class="mt-8 leading-relaxed text-justify">
            {% trans "This website has been designed for families as a place to share and exchange your memories and forgotten photos. Involve your family and friends to collectively restore color and presence to your shared memories" %}
          </p>
        </div>

        <form class="mt-8 grid grid-cols-6 gap-6" method="POST">
          {% csrf_token %}
          <div class="col-span-6 sm:col-span-3">
            <label
              for="FirstName"
              class="block text-sm font-medium"
            >
              {% trans "First Name" %}
            </label>

            {{form.first_name}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="LastName"
              class="block text-sm font-medium "
            >
              {% trans "Last Name" %}
            </label>

            {{form.last_name}}
          </div>

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium ">
              {% trans "Email" %}
            </label>

            {{form.email}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="Password"
              class="block text-sm font-medium "
            >
              {% trans "Password" %}
            </label>

            {{form.password1}}
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label
              for="PasswordConfirmation"
              class="block text-sm font-medium "
            >
              {% trans "Password Confirmation" %}
            </label>

            {{form.password2}}
          </div>

          {% comment %}
          <div class="col-span-6">
            <p class="text-sm">
              By creating an account, you agree to our
              <a href="#" class=" underline">
                terms and conditions
              </a>
              and
              <a href="#" class=" underline">privacy policy</a>.
            </p>
          </div>
          {% endcomment %}

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4 mt-4">
            <button
              class="btn btn-primary"
              type="submit"
            >
              {% trans "Create an account" %}
            </button>

            <p class="mt-4 text-sm  sm:mt-0">
              {% trans "Already have an account?" %}
              <a href="{% url 'accounts:login' %}" class=" underline">{% trans "Log in" %}</a>.
            </p>
          </div>
        </form>

        {% if messages %}
          {% for message in messages %}
              <div role="alert" class="alert alert-{{message.tags}}">
                {% if message.tags == "success" %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                {% elif message.tags == "error" %}
                  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                {% endif %}
                <span>{{message}}</span>
              </div>
          {% endfor %}
        {% endif %}

      </div>
    </main>
  </div>
</section>
{% endblock body %}
