{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Demo" %}{% endblock %}

{% block body %}
<div class="bg-base-100 min-h-screen">
  <div class="mx-auto max-w-2xl px-6 py-10 sm:px-8 sm:py-16 sm:pb-16 lg:max-w-7xl lg:px-8">
    <div id="showAfterSubmission" class="hidden">
      {% include 'partials/demo_typing.html' %}
    </div>
    <div id="targetElement" class="mt-6"></div>
    <h2 class="font-semibold ">Choose a fake user to connect with: </h2>
    <form class="flex gap-3" id="demoForm" method="post" action="{% url 'core:get_a_demo' %}">
      {% csrf_token %}
      {{ form.user_email }}
      <button type="submit" id="submitBtn" class="btn" >{% trans "Get a Demo" %}</button>
    </form>
  </div>
</div>

{% endblock body %}

{% block javascript %}
<script src="{% static 'core/js/demo_progressbar.js' %}"></script>

<script>
  // demo form submission -> send form only when option selected
  function toggleSubmitButton() {
  var selectElement = document.getElementById("user_email");
  var submitButton = document.getElementById("submitBtn");

  if (selectElement.value === "") {
    submitButton.disabled = true;
  } else {
    submitButton.disabled = false;
  }
}
</script>
{% endblock javascript %}
