{% extends "core/base.html" %}
{% load i18n %}

{% block title %}Password reset complete{% endblock title %}

{% block body %}
<div class="bg-base-100">
  <div class="mx-auto max-w-screen-sm px-4 py-16 sm:px-6">
    <div class="grid grid-cols-1 space-y-6 place-content-center text-lg font-semibold rounded-lg bg-base-200 p-8 shadow-lg">
      <svg class="w-16 h-16 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
      <p>
        {% translate "Your password has been set.  You may go ahead and log in now." %}
      </p>
      <a class="btn btn-neutral mt-6" href="{{ login_url }}">{% translate 'Log in' %}</a>
    </div>
  </div>
</div>

{% endblock %}
