{% extends 'core/base.html' %}

{% block title %}Delete Album{% endblock %}

{% block body %}
<div class="grid place-content-center">
  <div class="prose prose-sm md:prose-base text-center">
    <h2>Delete the Album "{{album.title}}" ?</h2>
    <form method="POST">
      {% csrf_token %}
      <div class="flex gap-2 py-4 justify-center">
        <input type="submit" value="Yes" class="btn btn-error hover:brightness-75">
        <a href="{% url 'photos:album_detail' album.pk %}" class="btn btn-neutral">No</a>
      </div>


    </form>
  </div>
</div>

{% endblock %}
